#1.write a function that returns the maximum of two numbers

In [5]:
def maximum_of_2_numbers(a,b):
    if a>b:
        print(a)
    else:
        print(b)
(a,b)=map(int,input().split())
maximum_of_2_numbers(a,b)

2 3
3




#2.function for checking the speed of drivers

In [14]:
def check_speed_of_drivers(speed):
    if speed<70:
        print("OK")
    elif speed>70:
        c=speed-70
        d=c//5
        if d>12:
            print("License suspended")
        else:
            print("points:{}".format(d))
speed=int(input())
check_speed_of_drivers(speed)

1000
License suspended




#3.create a regular package in python and import it in some other module

In [1]:
from Regular_Package import arithmetic,greet
arithmetic.calc(500,10)

(510, 490, 5000, 50)

In [2]:
greet.hello()

good morning




#4.name 3 iterable objects in python and create it

In [41]:
#iterable objects are list,tuple,dictionary,set
#list is a mutable,indexed,ordered,stores heterogeneous data type
#tuple is a immutable,indexed,ordered,stores heterogeneous data type
#dictionary is ordered,it is a key,value pair
#set is a unordered,unindexed,it removes duplicate values

In [46]:
#creating a list
l=[1,2,3,"satya",7.5,9.111,True]
print(l)
print(type(l))



#creating a tuple
t=(1,2,3,"satya",7.5,9.111,True)
print(t)
print(type(t))



#creating a dictionary
s={
    "name":"satya",
    "rollno":123,
    "sub":["m3","sc","java","dms"]
}
print(s)
print(type(s))



#creating a set
s1={1,2,3,(1,2,3),"satya",7.55}
print(s1)
print(type(s1))

[1, 2, 3, 'satya', 7.5, 9.111, True]
<class 'list'>
(1, 2, 3, 'satya', 7.5, 9.111, True)
<class 'tuple'>
{'name': 'satya', 'rollno': 123, 'sub': ['m3', 'sc', 'java', 'dms']}
<class 'dict'>
{1, 2, 3, 7.55, (1, 2, 3), 'satya'}
<class 'set'>

#5.take a input as string and reverse it

In [17]:
s=input()
print(s[::-1])

satya
aytas